body
{
    font-family: 'Cascadia Mono';
    background-color: #eee;
}

#ktn
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    border: 2px solid #313131;
    border-radius: 10px;
}

.celija
{
    background-color: rgb(161, 161, 161);
    border: 2px solid #313131;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

h1
{
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}
